.macondo-regular {
    font-family: "Macondo", cursive;
    font-weight: 400;
    font-style: normal;
  }

body {
    background-color:rgb(45,45,45);
    font-family: Macondo;
    margin: 0px;

}

label {
    font-size: 32px;
    padding-right: 12px;
}

select, form, label {
    vertical-align: middle;
}

#registration-form-container {
    width: 100%;
    display: flex;
    vertical-align: middle;
    background-image:
                linear-gradient(45deg,
                    rgba(255, 255, 255, 0.75),
                    rgba(0, 0, 0, 0.75)), 
                      url('assets/imgs/PARABELLUM.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
            
    
}

#registration-form {
    background-color: rgb(255, 235, 205, 0.40);
    border-radius: 8px;
    margin-left: 12rem;
    margin-top: 1rem;
    padding: 3rem;
    vertical-align: middle;
}

input[type=text], select {
    height: 1.6rem;
    width: 18rem;
}

input[type=text], input[type=number] {
    line-height: 1.6rem;
}

input[type=number] {
    width: 9rem;
}

input[type=text], input[type=number], select {
    border: none;
    border-radius: 4px;
}

input[type="submit"] {
    background-color:rgb(184, 134, 11);
    border: none;
    border-radius: 4px;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 3rem 0 1rem 0;
    cursor: pointer;
    width: 200px;
}

h1, h3, h2 {
    color: rgb(224,227,226);
    display: inline-block;
    padding-bottom: 0.8rem;
    padding-top: 0.8rem;
}

h1 {
    padding-left: 0.4rem;
    padding-right: 0;
}

h3 {
    padding-right: 6rem;
}

#banner-logo {
    padding-left: 1.4rem;
    width: 300px;
}

#banner, #banner-logo, h1, h3, #event-name-container, #reg-name-container {
    vertical-align: middle;
}

#banner {
    display: flex;
    justify-content: space-between;
}

#submit-button-container {
    text-align: center;
    padding: 0;
}

#registered-players-heading {
    background-color: rgb(91, 91, 91);
    display: block;
    margin: 0;
    text-align: center;
}

#registered-players-list {
    background-image: url('assets/imgs/Scroll-Download-PNG.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center top;
    display: block;
    min-height: 781px;
    padding: 16rem 0 0 16rem;
}

#registered-players-list > ul > li {
    display: inline-block;
    font-size: 22px;
    padding: 0rem 0.5rem 1.2rem 0;
}
    
#registered-players-list > ul > li:nth-child(1) {
    display: block;
    font-size: 36px;
    padding-top: 2rem;
}

